<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <div class="logo">GLOVO</div>
      <input type="text" class="search" placeholder="Введіть назву ресторану, страви">
    </header>
    <div class="container">
      <div class="item">
        <h1 class="">Nazva</h1>
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, natus rerum nobis quasi, iusto asperiores alias commodi doloribus tempora numquam exercitationem, culpa eveniet veniam quas similique eius quo? Ducimus, commodi!</p>
      </div>
    </div>
  </body>
</html>
