<!DOCTYPE html>
<html>
  <head>
    <title>GLOVO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <div class="logo">GLOVO</div>
      <input type="text" class="search" placeholder="Введіть назву ресторану, страви">
    </header>
    <div class="container">
      <% restData.forEach((item) => { %>
      <a class="item">       
          <h1 class=""><%= item.name %></h1>
          <p><%= item.description %></p>        
      </a>
      <% }); %> 
      </div>
    </div>
  </body>
</html>
